<form role="form">
    <div class="form-group">
        <label for="user_email">login.email</label>
        <input type="email" class="form-control" id="user_email" placeholder="login.email">
    </div>
    <div class="form-group">
        <label for="user_pass">login.password</label>
        <input type="password" class="form-control" id="user_pass" placeholder="login.password">
    </div>
    <button type="submit" class="btn btn-default">login.submit</button>
    <div id="login_failed" class="hidden text-danger">login.failed</div>
</form>
