<form id="login" role="form">
    <div class="form-group">
        <label for="username"><%= i18n.t('login.email') %></label>
        <div class="input-group">
            <span class="input-group-addon" id="username-addon"><span class="fa fa-at"></span></span>
            <input type="email" class="form-control" id="username" placeholder="<%= i18n.t('login.email') %>" aria-describedby="username-addon" autofocus>
        </div>
    </div>

    <div class="form-group">
        <label for="password"><%= i18n.t('login.password') %></label>
        <div class="input-group">
            <span class="input-group-addon" id="password-addon"><span class="fa fa-lock"></span></span>
            <input type="password" class="form-control" id="password" placeholder="<%= i18n.t('login.password') %>" aria-describedby="password-addon">
        </div>
    </div>

    <div class="form-group">
        <% if (this.config.get("user_registration")) { %>
        <button type="button" class="pull-right btn btn-info" id="show_register"><%= i18n.t('login.register') %></a>
        <% } %>
        <button type="submit" class="btn btn-primary"><%= i18n.t('login.submit') %></button>
        <span id="login_progress" class="pull-right fa fa-cog fa-spin fa-2x hidden"></span>
    </div>
</form>
<form id="register" class="hidden" role="form">
    <div class="form-group">
        <label for="user_email"><%= i18n.t('register.email') %></label>
        <input type="email" class="form-control" id="user_email" placeholder="<%= i18n.t('register.email') %>">
    </div>

    <div class="form-group">
        <label for="user_name"><%= i18n.t('register.name') %></label>
        <input type="text" class="form-control" id="user_name" placeholder="<%= i18n.t('register.name') %>">
    </div>

    <div class="form-group">
        <label for="user_pass"><%= i18n.t('register.password') %></label>
        <input type="password" class="form-control" id="user_pass" placeholder="<%= i18n.t('register.password') %>">
    </div>

    <div class="form-group">
        <label for="user_pass_repeat"><%= i18n.t('register.password-repeat') %></label>
        <input type="password" class="form-control" id="user_pass_repeat" placeholder="<%= i18n.t('register.password-repeat') %>">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary"><%= i18n.t('register.submit') %></button>
        <span id="registration_progress" class="pull-right fa fa-cog fa-spin fa-2x hidden"></span>
    </div>
</form>
