<form role="form">
    <div class="form-group">
        <label for="old_password">profile.old-password</label>
        <input type="password" class="form-control" id="old_password" placeholder="profile.old-password">
    </div>

    <div class="form-group">
        <label for="new_password">profile.new-password</label>
        <input type="password" class="form-control" id="new_password" placeholder="profile.new-password">
    </div>

    <div class="form-group">
        <label for="new_password_repeat">profile.new-password-repeat</label>
        <input type="password" class="form-control" id="new_password_repeat" placeholder="profile.new-password-repeat">
    </div>

    <div class="form-group">
        <button id="submit" class="btn btn-success">profile.set-new-password</button>
        <span id="password_progress" class="pull-right fa fa-cog fa-spin fa-2x hidden"></span>
    </div>
</form>