<form role="form">
    <div class="form-group">
        <label for="old_password"><%= i18n.t('profile.old-password') %></label>
        <input type="password" class="form-control" id="old_password" placeholder="<%= i18n.t('profile.old-password') %>">
    </div>

    <div class="form-group">
        <label for="new_password"><%= i18n.t('profile.new-password') %></label>
        <input type="password" class="form-control" id="new_password" placeholder="<%= i18n.t('profile.new-password') %>">
    </div>

    <div class="form-group">
        <label for="new_password_repeat"><%= i18n.t('profile.new-password-repeat') %></label>
        <input type="password" class="form-control" id="new_password_repeat" placeholder="<%= i18n.t('profile.new-password-repeat') %>">
    </div>

    <div class="form-group">
        <button id="submit" class="btn btn-success"><%= i18n.t('profile.change-password') %></button>
        <span id="password_progress" class="pull-right fa fa-cog fa-spin fa-2x hidden"></span>
    </div>
</form>