<ol class="breadcrumb">
    <li><a href="#"><span class="fa fa-home"></span></a></li>
    <li><%= deployment_name %></li>
</ol>

<div class="row hidden-md hidden-lg well-sm">
    <select id="target" class="form-control">
        <option value=""><%= i18n.t('deployment.overview') %></option>
        <option value="edit"><%= i18n.t('deployment.edit') %></option>
        <option value="repository"><%= i18n.t('deployment.repository') %></option>
        <option value="application"><%= i18n.t('deployment.application') %></option>
        <option value="log"><%= i18n.t('deployment.log') %></option>
    </select>
</div>

<div class="row">
    <div class="col-md-2 hidden-xs hidden-sm">
        <ul class="nav nav-pills nav-stacked" id="menu">
            <li id="overview" class="text-center"><a href="#deployments/<%= deployment_id %>"><%= i18n.t('deployment.overview') %></a></li>
            <li id="edit" class="text-center"><a href="#deployments/<%= deployment_id %>/edit"><%= i18n.t('deployment.edit') %></a></li>
            <li id="repository" class="text-center"><a href="#deployments/<%= deployment_id %>/repository"><%= i18n.t('deployment.repository') %></a></li>
            <li id="application" class="text-center"><a href="#deployments/<%= deployment_id %>/application"><%= i18n.t('deployment.application') %></a></li>
            <li id="log" class="text-center"><a href="#deployments/<%= deployment_id %>/log"><%= i18n.t('deployment.log') %></a></li>
        </ul>
    </div>
    <div class="col-md-9 well" id="deployment"></div>
</div>
