<ol class="breadcrumb">
    <li>breadcrumbs.home</li>
</ol>

<h3>deployments.label</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-xs-3">deployment.name</th>
            <th class="col-xs-1">deployment.status</th>
            <th>deployment.repository</th>
        </tr>
    </thead>
    <tfoot>
    <tr>
        <td colspan="3"><a href="#" id="add_deployment"><span class="glyphicon glyphicon-plus"></span>&nbsp;deployment.add</a></td>
    </tr>
    </tfoot>
    <tbody></tbody>
</table>
