<ol class="breadcrumb">
    <li><span class="fa fa-home"></span></li>
</ol>

<h3><%= i18n.t('deployments.label') %></h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-sm-3">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-xs"><%= i18n.t('deployments.name') %></span>
            </th>
            <th class="col-sm-3">
                <span class="glyphicon glyphicon-briefcase"></span>
                <span class="hidden-xs"><%= i18n.t('deployments.application') %></span>
            </th>
            <th class="col-sm-3">
                <span class="fa fa-git"></span>
                <span class="hidden-xs"><%= i18n.t('deployments.repository') %></span>
            </th>
            <th class="col-sm-3">
                <span class="fa fa-heart"></span>
                <span class="hidden-xs"><%= i18n.t('deployments.health') %></span>
            </th>
        </tr>
    </thead>
<% if (app.session.isAuthorized()) { %>
    <tfoot>
    <tr>
        <td colspan="4"><a href="#" id="add_deployment"><span class="glyphicon glyphicon-plus"></span>&nbsp;<%= i18n.t('deployments.create') %></a></td>
    </tr>
    </tfoot>
<% } %>
    <tbody></tbody>
</table>
