body {
    background-color: #ddd;
}

div#content {
    border: 1px solid #ddd;
    border-radius: 4px 4px 4px 4px;
    min-height: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 12px #aaa;
    background: #fefefe;
}

.text-status-ok {
    color: #0a0;
}

.text-status-warning {
    color: #aa0;
}

.text-status-error {
    color: #a00;
}

.text-status-processing {
    color: #00a;
}

.text-status-unknown {
    color: #777;
}

#log pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}